@using ITest.Web.Areas.User.Models
@model TestViewModel
@{
    ViewData["Title"] = "Take Test";
}

<div class="timer" id="timer-id" style="height:150px" data-timer="@Model.TimeRemaining"></div>
<form asp-area="User" asp-controller="Home" asp-action="TakeTest" method="post">


    <input asp-for="@Model.Name" value="@Model.Name" type="hidden" />
    <div class="well well-sm">
        <h3><strong>@Model.Name</strong></h3>
        <h4><strong>@Model.CategoryName category</strong></h4>
    </div>
    <hr class="dashboard-breaker">
    <br>
    <input asp-for="@Model.CategoryName" value="@Model.CategoryName" type="hidden" />
    <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
    <br />
    @{var idCounter = 0; var nameCounter = 0;}
    @for (int i = 0; i < @Model.Questions.Count(); i++)
    {
        <input asp-for="@Model.Questions[i].Id"
               value="@Model.Questions[i].Id"
               type="hidden" />
        <br />
        <div class="well well-sm">
            <b class="text-uppercase">Question @(nameCounter + 1)</b>
            @Html.Raw(Model.Questions[i].Body)
        </div>
        <div id="timer"></div>

        @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
        {
            <div class="funkyradio">
                <div class="funkyradio-success">
                    @{ var answer = Model.Questions[i].Answers[j];}
                    <input asp-for="@Model.Questions[i].Answers" type="radio"
                           value="@answer.Id" id="@answer.Id">
                    <label for="@answer.Id">
                        <p class="text-justify">@Html.Raw(answer.Content)</p>
                    </label>
                </div>
            </div>
            idCounter++;
        }
        <br />
        nameCounter++;
    }
    <button type="button" id="test-submit-btn" class="btn" data-toggle="modal" data-target="#test-submit-modal">Submit Test</button>

    <div class="modal fade" id="test-submit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to Submit your Test?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                    <button type="submit" id="modal-submit-btn" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/take-test.js"></script>
    <script src="~/js/TimeCircle.js"></script>
}
