@using ITest.Web.Areas.User.Models
@model TestViewModel
@{
    ViewData["Title"] = "Take Test";
}

<div class="timer" id="timer-id" style="height:150px" data-timer="@(Model.TimeRemaining)"></div>
<div class="p-3 mb-2 bg-danger text-white" id="warning-text"> Warning: If you refresh or leave the page your test will be automatically submited!</div>
<form asp-area="User" asp-controller="Home" asp-action="TakeTest" method="post">

    <h3>@Model.Name</h3>
    @*BELOW LINE IS MODEL BINDING FROM GET REQUEST TO POST REQUEST HAHA*@
    <input asp-for="@Model.Name" value="@Model.Name" type="hidden" />
    <hr class="dashboard-breaker">
    <br>
    <h4><strong>Category:</strong>@Model.CategoryName</h4>
    <input asp-for="@Model.CategoryName" value="@Model.CategoryName" type="hidden" />
    <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
    <br />
    @{var idCounter = 0; var nameCounter = 0;}
    @for (int i = 0; i < @Model.Questions.Count(); i++)
    {
        <input asp-for="@Model.Questions[i].Id"
               value="@Model.Questions[i].Id"
               type="hidden" />
        <br />
        <div class="well well-sm">@(nameCounter + 1) @Html.DisplayFor(x => Model.Questions[i].Body)</div>
        <div id="timer"></div>

        @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
        {
            <div class="funkyradio">
                <div class="funkyradio-primary">
                    @{ var answer = Model.Questions[i].Answers[j];}

                    <input asp-for="@Model.Questions[i].Answers" type="radio"
                           value="@answer.Id" id="@answer.Id">
                    <label for="@answer.Id">
                        @answer.Content
                    </label>
                    @*<input asp-for="@Model.Questions[i].Answers[j].Id"
                           value="@Model.Questions[i].Answers[j].Id" type="hidden" />
                        <input asp-for="@Model.Questions[i].Answers[j].SelectedAnswerId"
                               type="radio"
                               class="radio-btn-to-change"
                               value="@Model.Questions[i].Answers[j].Id"
                               name="@Model.Questions[i].Id"
                               id="radio-@idCounter" />
                        <label for="radio-@idCounter">@Model.Questions[i].Answers[j].Content</label>*@
                </div>
            </div>
            idCounter++;
        }
        nameCounter++;
    }
    <button type="submit" id="test-submit-btn" class="btn">Submit Test</button>
</form>

@section Scripts {
    <script src="~/js/take-test.js"></script>
    <script src="~/js/TimeCircle.js"></script>
}
