@model ITest.Web.Areas.Admin.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div class="container index">
    <div class="row">
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Your Test List</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Test Results</a></li>
                        <a asp-area="Admin" asp-controller="Manage" asp-action="CreateTest" class="btn btn-primary pull-right">New Test</a>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <table style="width:100%" class="created-tests-table dashboard-table display table table-striped custab" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                @if (Model.CreatedTests.Any())
                                {
                                    foreach (var test in Model.CreatedTests)
                                    {
                                        <tr>
                                            <td>@test.TestName</td>
                                            <td>@test.CategoryName</td>

                                            @if (test.IsPublished && !test.IsDisabled)
                                            {
                                                <td class="is-published">Publlished</td>
                                                <td class="actions-col text-center">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <a class='col-xs-12 btn btn-success btn-xs disabled'>
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                                Published
                                                            </a>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <a class='col-xs-12 btn btn-warning btn-xs disabled'>
                                                                <span class="glyphicon glyphicon-edit"></span>
                                                                Edit
                                                            </a>
                                                        </div>

                                                        <form asp-area="Admin" asp-controller="Manage" asp-action="DisableTest" method="post" class="col-xs-4 disable-test">
                                                            <input id="Id" name="Id" type="hidden" value="@test.Id" />

                                                            <button type="submit" class="col-xs-12 btn btn-danger btn-xs" data-toggle="modal" data-target="#test-disable-modal">
                                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                                                Disable
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="is-published">Draft</td>
                                                <td class="actions-col text-center">
                                                    <div class="row">
                                                        <form asp-area="Admin" asp-controller="Manage" asp-action="PublishTest" method="post" class="col-xs-4 publish-test">
                                                            <input id="Id" name="Id" type="hidden" value="@test.Id" />

                                                            <button type="submit" class="col-xs-12 btn btn-success btn-xs" data-toggle="modal" data-target="#test-publish-modal">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                                Publish
                                                            </button>
                                                        </form>

                                                        @if (test.IsDisabled)
                                                        {
                                                            <div class="col-xs-4">
                                                                <a class='col-xs-12 btn btn-warning btn-xs disabled'>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                    Edit
                                                                </a>
                                                            </div>

                                                            <div class="col-xs-4">

                                                                <a class='btn btn-danger btn-xs disabled'>
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                    Disabled
                                                                </a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <form asp-area="Admin" asp-controller="Manage" asp-action="EditTest" class="col-xs-4" method="get">
                                                                <input id="Id" name="Id" type="hidden" value="@test.Id" />

                                                                <button type="submit" class='col-xs-12 btn btn-warning btn-xs'>
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                    Edit
                                                                </button>
                                                            </form>

                                                            <form asp-area="Admin" asp-controller="Manage" asp-action="DeleteTest" method="post" class="col-xs-4 delete-test">
                                                                <input id="Id" name="Id" type="hidden" value="@test.Id" />

                                                                <button type="submit" class="col-xs-12 btn btn-danger btn-xs" data-toggle="modal" data-target="#test-delete-modal">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                    Delete
                                                                </button>
                                                            </form>
                                                        }
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table style="width:100%" class="attended-tests dashboard-table display table table-striped custab" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>User Name</th>
                                        <th>Category</th>
                                        <th>Requested Time</th>
                                        <th>Execution Time</th>
                                        <th>Results</th>
                                    </tr>
                                </thead>
                                @if (Model.TestResults.Any())
                                {
                                    foreach (var result in Model.TestResults)
                                    {
                                <tr>
                                    <td>@result.TestName</td>
                                    <td>@result.UserName</td>
                                    <td>@result.CategoryName</td>
                                    <td>@result.RequestedTime min</td>
                                    <td>@(TimeSpan.FromMinutes(result.ExecutionTime)) min</td>

                                    @if (result.IsPassed)
                                            {
                                    <td>
                                        <a class="btn btn-success" asp-action="TestScore" asp-route-userId="@result.UserId" asp-route-testId="@result.TestId">Passed</a>
                                    </td>
                                            }
                                            else
                                            {
                                    <td>
                                        <a class="btn btn-danger" asp-action="TestScore" asp-route-userId="@result.UserId" asp-route-testId="@result.TestId">Failed</a>
                                    </td>
                                            }
                                </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="~/js/dashboard-async-operations.js"></script>
    <script src="~/js/datatables-include.js"></script>
}