@model ITest.Web.Areas.Admin.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "DashBoard";
}

<h2>@ViewData["Title"]</h2>

<div class="container index">
    <div class="row">
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Your Test List</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Test Results</a></li>
                        <a asp-area="Admin" asp-controller="Manage" asp-action="CreateTest" class="btn btn-primary pull-right">New Test</a>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <table style="width:100%" class="created-tests-table dashboard-table display table table-striped custab" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                @if (Model.CreatedTests.Any())
                                {
                                    foreach (var test in Model.CreatedTests)
                                    {
                                        <tr>
                                            <td>@test.TestName</td>
                                            <td>@test.CategoryName</td>

                                            @if (test.IsPublished)
                                            {
                                                <td class="is-published">Publlished</td>
                                                <td class="text-center">
                                                    <a class='btn btn-success btn-xs disabled'>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        Published
                                                    </a>

                                                    <a class='btn btn-warning btn-xs disabled'>
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                        Edit
                                                    </a>

                                                    <form asp-area="Admin" asp-controller="Manage" asp-action="DisableTest" method="post" class="disable-test">
                                                        <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                                        <input id="categoryName" name="categoryName" type="hidden" value="@test.CategoryName" />

                                                        <button type="submit" class="btn btn-danger btn-xs">
                                                            <span class="glyphicon glyphicon-ban-circle"></span>
                                                            Disable
                                                        </button>
                                                    </form>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="is-published">Draft</td>
                                                <td class="text-center">
                                                    <form asp-area="Admin" asp-controller="Manage" asp-action="PublishTest" method="post" class="publish-test">
                                                        <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                                        <input id="categoryName" name="categoryName" type="hidden" value="@test.CategoryName" />

                                                        <button type="submit" class="btn btn-success btn-xs">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                            Publish
                                                        </button>
                                                    </form>

                                                    <form asp-area="Admin" asp-controller="Manage" asp-action="EditTest" method="get">
                                                        <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                                        <input id="categoryName" name="categoryName" type="hidden" value="@test.CategoryName" />

                                                        <button type="submit" class='btn btn-warning btn-xs'>
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                            Edit
                                                        </button>
                                                    </form>

                                                    <form asp-area="Admin" asp-controller="Manage" asp-action="DeleteTest" method="post" class="delete-test">
                                                        <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                                        <input id="categoryName" name="categoryName" type="hidden" value="@test.CategoryName" />

                                                        <button type="submit" class="btn btn-danger btn-xs">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            NO TESTS!!!
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <table style="width:100%" class="attended-tests dashboard-table display table table-striped custab" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>User Name</th>
                                        <th>Category</th>
                                        <th>Requested Time</th>
                                        <th>Execution Time</th>
                                        <th>Results</th>
                                    </tr>
                                </thead>
                                @if (Model.TestResults.Any())
                                {
                                    foreach (var result in Model.TestResults)
                                    {
                                        <tr>
                                            <td>@result.TestName</td>
                                            <td>@result.UserName</td>
                                            <td>@result.CategoryName</td>
                                            <td>@result.RequestedTime min</td>
                                            <td>@result.ExecutionTime min</td>

                                            @if (result.IsPassed)
                                            {
                                                <td>Passed</td>
                                            }
                                            else
                                            {
                                                <td>Failed</td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            NO USERTESTS!!!
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="~/js/dashboard-async-operations.js"></script>
    <script src="~/js/datatables-include.js"></script>
}